<?xml version="1.0" encoding="utf-8"?>
<plugin id="cordova-plugin-rmpandroidtv" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-rmpandroidtv</name>
    <description>Cordova plugin to prepare app for Android TV</description>
    <author email="support@radiantmediaplayer.com" href="https://www.radiantmediaplayer.com/">
Radiant Media Player
    </author>
    <keywords>cordova,cordova-android,android,tv,androidtv,html5,video</keywords>
    <license>MIT</license>
    <engines>
        <engine name="cordova" version=">=9.0.0" />
    </engines>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="rmpandroidtv">
                <param name="android-package" value="com.radiantmediaplayer.rmpandroidtv" />
            </feature>
        </config-file>
        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-feature android:name="android.software.leanback" android:required="false" />
            <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
            <uses-feature android:name="android.hardware.gamepad" android:required="false"/>
        </config-file>
        <config-file parent="/manifest/application/activity/intent-filter" target="AndroidManifest.xml">
            <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
        </config-file>
        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="28" />
        </config-file>
        <hook type="after_prepare" src="www/rmpandroidtv.js" />
    </platform>
</plugin>